<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WotLK OST</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
    <div id="footer">
        <a href="https://discord.gg/MZpCqErrHs" style="color:white;">Discord Link</a><br />
        <a href="https://www.patreon.com/Magmonix" style="color:white;">Simp for me?</a><br />
        <a href="https://www.paypal.com/donate/?business=VJV2YR35XXFQG&no_recurring=0&item_name=You%27re+a+G.&currency_code=USD" style="color:white;">Buy me coffee?</a>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
